body {
    margin: 0;
    text-align: center;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 20px;
}

h1 {
    color: #93B5C6;
    margin: 50px auto 0 auto;
    font-size: 4rem;
    font-family: 'Open Sans Condensed', sans-serif;
    
}

h2 {
    color: #93B5C6;
    font-size: 2.5rem;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: lighter;
}

h3 {
    color: #C9CCD5;
    font-family: 'Open Sans Condensed', sans-serif;
}

.engineer {
    text-decoration: underline;
    color: #C9CCD5;
}

a {
    color: #93B5C6;
    text-decoration: none;
    margin: 10px 20px;
}

a:hover {
    color: whitesmoke;
}

.top-cloud {
    position: absolute;
    top: 50px;
    right: 350px;
    
}

.bottom-cloud {
    position: absolute;
}

.top-container {
    background-color: #E4D8DC;
    position: relative;
    padding-top: 100px; 
}
.skill-row {
    margin: 100px auto 100px auto;
    width: 50%;
    text-align: left;
    line-height: 2;
}
.icon-fira {
    border-radius: 50%;
    width: 15%;
}
.icon-js {
    width: 20%;
    float: left;
    margin-right: 30px;
}
.icon-cypress {
    width: 20%;
    float: right;
    margin-left: 30px;
}
.icon-strawberry {
    width: 20%;
    float: left;
    margin-right: 30px;
}
.fira-desc {
    width: 30%;
    margin: 0 auto 0 ;
    padding-bottom: 40px;
    color: #40514E;
}

hr {
    color: #E4D8DC;
    border-style: none;
    border-top-style: dotted;
    border-width: 6px;
    height: 2px;
    width: 5%;   
}

.middle-container {
    margin: 100px 0;
}

.bottom-container {
    background-color: #E4D8DC;
    padding: 20px 0 20px;
}
.copyright {
    margin-bottom: 0;
    color: whitesmoke;
    font-size: 1rem;
}

.btn {
    background-color: #FFE3E3;
    padding: 10px 20px 10px 20px;
    border-radius: 5%;
}

.btn:hover {
    background-color: #E4D8DC;
}

.contact-message {
    width: 40%;
    margin: 40px auto 80px ;
}
