#MainMenu {
    font-size: medium;
    color: darkkhaki;
    background-color: black;
    overflow: hidden;
    border-radius: 3px;
}

.Icon{
    font-size: 22px;
    padding-left: 20px;
    padding-right: 30px;
    cursor: pointer;
    float: left;
    position: relative;
    font-family: 'Helvetica Neue';
    font-weight: lighter;
    color: blanchedalmond;
}
.submenu{
    font-family: 'Helvetica Neue';
    padding: 6px 25px 6px 25px;
    cursor: pointer;
    float: left;
    font-weight: normal;
    font-size: 18px;
    text-align: center;
}
.submenu:hover {
    background-color: #ddd;
  }